@{
    ViewData["Title"] = "About Page";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>About</h2>
            <ol>
                <li>@Html.ActionLink("Home","Index","Home")</li>
                <li>About</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4" data-aos="fade-up">
                <div class="col-lg-4">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="content ps-lg-5">
                        <p>Here is some information about myself and some facts about my life to get to know me better.</p>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <h3>Packaging Associate</h3>
                            <p class="fst-italic">
                                Presently I am working as a packaging associate at Katalyst Surgical.  I was previously the manager of the packaging department, I took a step down in order to pursue a different path. I will continue to work there until I finish the training at Centrig, and then look forward to using my training in a new venture.
                            </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+555 867 5309</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>St. Louis, MO, USA</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Associates</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>email@example.com</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                I was born and raised in St. Louis, Missouri. A few years after graduating high school I got the opportunity to work in Yellowstone National park.  It was a life changing experience that led me to travel the country and work in several different resturants.
                                In 2006 I returned to St. Louis to be closer to family and friends.  In 2014 I was lucky enough to be married to my lovely wife.  We are still in St. Louis with our two dogs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Things about Me</h2>

            </div>

            <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                <div class="col-xl-5 img-bg" style="background-image: url('/assets/img/why-us-bg.jpg')"></div>
                <div class="col-xl-7 slides  position-relative">

                    <div class="slides-1 swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3"> 38 States Visited</h3>
                                    <h4 class="mb-3">I have lived in 5 different states and had the privelige to visit 38</h4>
                                    <p>
                                        So far throughout my life time I've lived in five different states. Missouri, Connecticut, Vermont, Texas, and Washington State. While living there Ive been able to travel to visit a total of 38 states in the U.S.
                                    </p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">5000+ Comic Books</h3>
                                    <h4 class="mb-3">
                                        I've collected comics throughout most of my life.
                                        </h4>
                                        <p>
                                        I have been reading and collecting comic books since I was a child and presently
                                        own over 5,000 comic books.
                                        </p>
                                    
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Game Consoles Owned</h3>
                                    <h4 class="mb-3">Throughout my life so far I've owned 17 different gaming consoles.</h4>
                                    <p>I have loved playing video games my whole life, and have owned several consoles throughout my life.</p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Dog Owner</h3>
                                    <h4 class="mb-3">Dog dad to two great dogs.</h4>
                                    <p>I have 2 dogs. I have had several dogs throughout my life.</p>
                                </div>
                            </div><!-- End slide item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>

        </div>
    </section><!-- End Why Choose Us Section -->
    <!-- ======= Resume Page Section ======= -->

    <section>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <embed src="~/forms/Dan Ambro Resume.pdf" type="application/pdf" width="900px" height="900px" />

            </div>
        </div>
    </section><!-- End Resume Page Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h3>Trying to do my part</h3>
                    <p>
                        This amazing video is in the template. It is by Katie and Jacob Schwarz, and the music is by Storyworks.
                        I've donated to several throughtout charities throughout my life and the WWF(world wildlife foundation) is one of them. If you enjoyed this video or my website, please choose to donate to any of the great charities around the world.
                    </p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://www.worldwildlife.org/" class="btn-get-started">WorldWildlife</a>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Call To Action Section -->

</main><!-- End #main -->