@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2 data-aos="fade-up">Welcome to my page</h2>
                <blockquote data-aos="fade-up" data-aos-delay="100">
                    <p>
                        Thank you for visiting my webpage. In this page you will find some information about myself,
                        some of the skills I have and my resume. You will also find links to my classmates webpages.
                        Thanks for stoping by.
                    </p>
                </blockquote>

            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Things about Me</h2>

            </div>

            <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

                <div class="col-xl-5 img-bg" style="background-image: url('assets/img/why-us-bg.jpg')"></div>
                <div class="col-xl-7 slides  position-relative">

                    <div class="slides-1 swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3"> 38 States Visited</h3>
                                    <h4 class="mb-3">I have lived in 5 different states and had the privelige to visit 38</h4>
                                    <p>
                                        So far throughout my life time I've lived in five different states. Missouri, Connecticut, Vermont, Texas, and Washington State. While living there Ive been able to travel to visit a total of 38 states in the U.S.
                                    </p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">5000+ Comic Books</h3>
                                    <h4 class="mb-3">
                                        I've collected comics throughout most of my life.
                                    </h4>
                                    <p>
                                        I have been reading and collecting comic books since I was a child and presently
                                        own over 5,000 comic books.
                                    </p>

                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Game Consoles Owned</h3>
                                    <h4 class="mb-3">Throughout my life so far I've owned 17 different gaming consoles.</h4>
                                    <p>I have loved playing video games my whole life, and have owned several consoles throughout my life.</p>
                                </div>
                            </div><!-- End slide item -->

                            <div class="swiper-slide">
                                <div class="item">
                                    <h3 class="mb-3">Dog Owner</h3>
                                    <h4 class="mb-3">Dog dad to two great dogs.</h4>
                                    <p>I have 2 dogs. I have had several dogs throughout my life.</p>
                                </div>
                            </div><!-- End slide item -->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>

        </div>
    </section><!-- End Why Choose Us Section -->
    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>My Skills</h2>

            </div>

            <div class="row gy-5">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Associates Degree</a></h4>
                        <p class="description">
                            After spending most of my adult life working in restaurants, in 2015 I
                            recieved my associates degree and graduated with a 4.0.
                        </p>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Surgical Manufacturing</a></h4>
                        <p class="description">During the global pandemic, when resturants shut down, I changed directions and began working for a surgical manufacturer. There we make instrumants and tools for brain and eye surgeries.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #d90769;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Centriq Training</a></h4>
                        <p class="description">As I progress through the training at Centriq, I am sure that my proficency with these skills will improve. I look forward to learning and improving many more skills and languages. </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon flex-shrink-0"><i class="bi bi-binoculars" style="color: #15bfbc;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Looking to improve my skills</a></h4>
                        <p class="description">I continue to improve my skills in languages like HTML and C#.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon flex-shrink-0"><i class="bi bi-brightness-high" style="color: #f5cf13;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Learning a lot</a></h4>
                        <p class="description">I continue to improve my skills in the styling languages like CSS.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week" style="color: #1335f5;"></i></div>
                    <div>
                        <h4 class="title"><a href="#" class="stretched-link">Tying it together</a></h4>
                        <p class="description">I enjoy learning about database managment with languages like SQL.</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Our Services Section -->


</main><!-- End #main -->
