@{
    ViewData["Title"] = "Team Page";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/img/team-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Classmates</h2>
            <ol>
                <li>@Html.ActionLink("Home","Index","Home")</li>
                <li>Classmates</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Classmates Section ======= -->
    <section id="testimnials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Classmates</h2>
                <p>Below are some links to my classmates web pages.</p>
            </div>


            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there                        
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/team-1.jpg" class="testimonial-img" alt="">
                    <h3>Alex Davenport</h3>
                    <h4>Developer</h4>
                    <a href="https://www.alexdavenport.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there                        
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/team-4.jpg" class="testimonial-img" alt="">
                    <h3>Alicia Villegas</h3>
                    <h4>Designer</h4>
                    <a href="https://www.aliciaVillegas.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Eugene is a loving owner of both cats and dogs.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Eugene Cathcart</h3>
                    <h4>Web Designer &amp; Pet Owner</h4>
                    <a href="https://www.eugenecathcart.com/"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there                        
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Chris Randall</h3>
                    <h4>Developer</h4>
                    <a href="https://www.chrisrandall.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/team-3.jpg" class="testimonial-img" alt="">
                    <h3>Aidan McQuillan</h3>
                    <h4>Developer</h4>
                    <a href="https://www.aidanmcquillan.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Chantel Dubreuil</h3>
                    <h4>Developer</h4>
                    <a href="https://www.chanteldubreuil.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Paul Valenti</h3>
                    <h4>Developer</h4>
                    <a href="https://www.paulvalenti.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Hello there
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/assets/img/testimonials/team-2.jpg" class="testimonial-img" alt="">
                    <h3>Zoey Bateman</h3>
                    <h4>Developer</h4>
                    <a href="https://www.zoeybateman.com"><i class="bi bi-window-stack"></i></a>
                </div>
            </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
        

        
    </section><!-- End Testimonials Section -->


</main><!-- End #main -->